In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
datos = pd.read_csv("assets/data/Games.csv", index_col="Id")
datos.isnull()

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
Id,,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,False,False,False,False,False,False,False,False,False,False,False,False,False
1508,False,False,False,False,False,False,False,False,False,False,False,False,False
1509,False,False,False,False,False,False,False,False,False,False,False,False,False
1510,False,False,False,False,False,False,False,False,False,False,False,False,False
1511,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
print(f"cantidad de filas y columnas: {datos.shape}")

cantidad de filas y columnas: (1512, 13)

In [15]:
data_sin_nulos = datos.dropna()
data_sin_nulos

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
Id,,,,,,,,,,,,,
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,"Dec 22, 2010",['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",Back to the Future: The Game is one of Telltal...,['Very enjoyable game. The story adds onto the...,763,5,223,67
1508,Team Sonic Racing,"May 21, 2019","['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",Team Sonic Racing combines the best elements o...,"['jogo morto mas bom', 'not my cup of tea', ""C...",1.5K,49,413,107
1509,Dragon's Dogma,"May 22, 2012",['Capcom'],3.7,210,210,"['Brawler', 'RPG']","Set in a huge open world, Dragonâ€™s Dogma: Dark...","['Underrated.', 'A grandes rasgos, es como un ...",1.1K,45,487,206
1510,Baldur's Gate 3,"Oct 06, 2020",['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...","An ancient evil has returned to Baldur's Gate,...",['Bu tÃ¼re bu oyunla girmeye Ã§alÄ±ÅŸmak hataydÄ± s...,269,79,388,602
1511,The LEGO Movie Videogame,"Feb 04, 2014","['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",Join Emmet and an unlikely group of resistance...,"['Legal', 'Pretty Average Lego Game But It Was...",1.7K,11,239,73

In [17]:
def filtro_rpg(genres):
    return 'RPG' in genres
datosRPG = datos[datos['Genres'].apply(filtro_rpg)]
nombreRPG = datosRPG[['Title', 'Rating']]
nombreRPG.head(10)

                                      Title  Rating
Id
0                                Elden Ring     4.5
1                                     Hades     4.3
2   The Legend of Zelda: Breath of the Wild     4.4
3                                 Undertale     4.2
6                                     Omori     4.2
9                            NieR: Automata     4.3
10                          Persona 5 Royal     4.4
12                               God of War     4.2
14                               Bloodborne     4.5
16                                 Yakuza 0     4.4

In [18]:
nombreRPG.info()

<class 'pandas.core.frame.DataFrame'>
Index: 523 entries, 0 to 1510
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   523 non-null    object
 1   Rating  516 non-null    float64
dtypes: float64(1), object(1)
memory usage: 12.3+ KB

In [25]:
nombreRPG.isnull()

      Title  Rating
Id
0     False   False
1     False   False
2     False   False
3     False   False
6     False   False
...     ...     ...
1487  False   False
1489  False   False
1500  False   False
1509  False   False
1510  False   False

[523 rows x 2 columns]

In [26]:
datasetRPG = nombreRPG.head(10)
datasetRPG.drop(['Title'], implace=True)

TypeError: DataFrame.drop() got an unexpected keyword argument 'implace'